body{
    margin: 0;
    padding: 0;
}

nav{
    background-color:lightskyblue;
    border-bottom: 7px solid #333;
    color: rgb(209, 19, 19);
    display: flex;
    justify-content: flex-end;
}

/*img{
    position: absolute;
}
*/

hr {
    border-style: solid; /* Set the border style to solid */
    border-color: #333; /* Set the border color */
    border-width: 2px; /* Set the border width */
}


footer{
    padding: 10px;
    border-top: 10px dotted rgb(238, 209, 79);
    background-color:rgb(209, 19, 19);
    color: lightskyblue;
    display: flex;
    justify-content: center;
}


.nav-anchor:hover{
    color: rgb(226, 43, 67);
    font-weight: bold;
    text-shadow: 0 0 10px rgb(226, 198, 43), 0 0 20px rgb(226, 198, 43), 0 0 30px rgb(226, 198, 43); 

}

.nav-anchor{
    text-decoration: none;
}

.footer-anchor{
    text-decoration: none;
    transition: color .1s, text-shadow 0.3s;
}

.footer-anchor:hover{
    color: rgb(43, 226, 119);
    text-shadow: 0 0 10px rgb(226, 43, 67)x rgb(226, 43, 67) rgb(226, 43, 67); 
    font-size: 20px;
}


.heading-title{
    background-color: #eb73d3;
    padding: 20px;
    color: rgb(235, 243, 123);
    font-family: 'Rubik Scribble', sans-serif;
    font-size: 25px;
    position: relative;
    
}

.heading-description{
    background-color: rgb(171, 236, 209);
    padding: 10px;
    font-family: 'Agbalumo', sans-serif;
    font-size: 20px;
    color: brown;
    border-style: dotted; 
    border-radius: 10px;
    border-color: rgb(219, 30, 30);

}


.link-a51{
    color:rgb(221, 69, 183);
    text-decoration: none;
}

.link-a51:hover{
    color: rgb(94, 99, 23);
}

.computer {
    width: 150px;
    position: absolute;
    border: #bbb6cc;
    border-color: rgb(123, 187, 222);
    border-style: double;
    border-width: 10px;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 1; /* Set a higher z-index to bring it forward */
}

.flower {
    width: 100px;
    position: absolute;
    border-color: rgb(123, 187, 222);
    border-style: double;
    border-width: 6px;
    border-radius: 6px;
    top: 30%;
    transform: translateY(-20%);
    right: 200px; /* Adjust the right spacing */
    z-index: 1; /* Set a higher z-index to bring it forward */
}

.card{
    transition: 0.3s;
    background-color: rgb(157, 176, 238);
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgb(212, 210, 69); 
    padding: 20px; 
    margin: 20px;
}
.card-contact {
    transition: 0.3s;
    background-color: rgb(157, 176, 238);
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgb(212, 210, 69); 
    padding: 20px; 
    margin: 20px;
    height: 200px;
    width: 300px;
  }
  

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}


.one-col{
    display: flex;
    justify-content: center;
    align-items: center;

}


.title-contact {
    font-family: "Kablammo",sans-serif;
    padding-left: 10px;
    align-items: center;
    text-align: center;
}

.para{
    font-family: "Playpen Sans", sans-serif;
    padding-left: 10px;
    text-align: center;
}

.body{
    background-color: #eb73d3;
}

.headshot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-name-form{
    font-family: 'Rubik Scribble', sans-serif;
    
}

.submit{
    font-family: 'Agbalumo', sans-serif;
}

.contact-top{
    background-color: rgb(237, 248, 135);
    padding-top: 10px;
}

.hr{
    border: 0; /* Removes default border */
    border-top: 20px solid rgb(109, 147, 196); /* Sets a new top border with color */
    margin: 20px 0; 

}

